.container-textinho {
    display: flex;
    justify-content:center ;
    align-items: center ;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 15%;
    left: 29%;
    color: rgba(255, 255, 255, 0.705);
}

h2 {

    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.705);
}